// SCSS function for image URLs
// used by govuk_publishing_components
@function image-url($filename){
@return url('/assets/#{$filename}');
}

@import "govuk/base";
@import "govuk/core/all";
@import "govuk_publishing_components/components/govspeak";

@import "prosemirror-view/style/prosemirror.css";
@import "prosemirror-menu/style/menu.css";
@import "./scss/prosemirror-example-setup";
@import "prosemirror-gapcursor/style/gapcursor.css";
@import "prosemirror-tables/style/tables.css";

:root {
  font-family: system-ui, sans-serif;
}

#editor,
.editor {
  background: white;
  color: black;
  background-clip: padding-box;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  margin-bottom: 23px;
}

.ProseMirror {
  padding: 1rem;
  outline: none;
}

#editor .govspeak table {
  display: table;

  td {
    border: 1px dotted $govuk-border-colour;
    padding: 10px;
  }
}
